 body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*
Material Design - Lists
*/
ul.pro-list{
    list-style: none;
    padding-left: 0;
}

ul.pro-list > li{
    padding-right: 16px;
    padding-left: 72px;
    padding-top: 8px;
    padding-bottom: 8px;
}

